<include file="Public/htgg" /> 
<div class="main-content-inner">
<div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse collapse_btn" data-sidebar="true" data-sidebar-hover="true">
				<ul class="nav nav-list">
                
<li>
						<a href="{:U('yqlj/ljgl')}">
							<o class="font12 ">导航列表</o>
						</a>

						<b class="arrow"></b>
					</li><li>
						<a href="./网站后台系统管理_files/网站后台系统管理.html">
							<o class="font12 rigbg">修改导航</o>
						</a>

						<b class="arrow"></b>
					</li>

				</ul><!-- /.nav-list -->
			</div><div class="page-content">



<!--主题-->
<div class="page-header">
	<h1>
		您当前操作
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			修改导航
		</small>
	</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<form class="form-horizontal" name="columnadd" id="columnadd" method="post" action="{:U('index/clxgdh')}" enctype="multipart/form-data">
             <div class="space-4"></div>

        	<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 导航名称: </label>
				<div class="col-sm-9">
					<input type="text" name="dhmc" id="column_name" placeholder="必填：导航名称" class="col-xs-10 col-sm-5" value="{$dqsj.dhmc}">
                    <span class="help-inline col-xs-12 col-sm-7">
						<span class="middle" id="resone"></span>
					</span>
				</div>
			</div>
             <div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 导航URL: </label>
				<div class="col-sm-9">
					<input type="text" name="url" id="column_name" placeholder="必填：导航名称" class="col-xs-10 col-sm-5" value="{$dqsj.url}">
                    <span class="help-inline col-xs-12 col-sm-7">
						<span class="middle" id="resone"></span>
					</span>
				</div>
			</div>
			<input type="hidden" name="dqid" value="{$dqsj.id}">
			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button class="btn btn-info" type="submit">
						<i class="ace-icon fa fa-check bigger-110"></i>
						保存
					</button>

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						重置
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
			<div class="hr hr-24"></div>

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="hidden">

			<!-- .sidebar -->
		</div>

	</div><!-- /.col -->
</div><!-- /.row -->

</div><!-- /.page-content -->
</div>
	</div><!-- /.main-content -->
<include file="Public/dibu" /> 