<div id="footer">
  <p>免责声明:本站所有数据均采集第三方网站，如果侵犯了你的权益，请发邮件至：{$wzxx[0]['youxiang']}，我们会及时删除侵权内容，谢谢合作！</p>
  <p><a href="http://www.521gxw.com/show/id/52.html" target="_blank">521电影网源代码</a></p><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254959650'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254959650%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
  <p>Copyright &#169; 2017 {$wzxx[0]['zdwz']}. All Rights Reserved.
      </p>
</div>
<div id="gotop"><a href="javascript:;" class="got"><i>返回顶部</i></a></div>
<script src="__PUBLIC__/js/layer.js"></script> 

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/javascript">
$('p.plus a.last').on('click', function(){
    layer.tips('请发邮件至 guanliyuan@521dyw.com!', '#feedback');
});
</script> 
</body>
</html>